<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://media.istockphoto.com/vectors/creative-chiropractic-back-spine-logo-design-vector-symbol-vector-id1156403450?k=20&m=1156403450&s=612x612&w=0&h=o4U1d-FgN7YE1d-wB9v7ZasXV2d3MEk_XvLsWTx7Lnc=" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <%= link_to "Le centre", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Le cabinet", "#", class: "dropdown-item" %>
              <%= link_to "Le practicien", "#", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to "FAQ", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
